* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {

    font-family: "Josefin Sans", sans-serif;
}
.container {
    width: 90%;
    margin: auto;
}
.tiny-header {
    font-size:3vw;
    margin:20px 0 ;
}
.centered-header {
    text-align: center;
    font-size:3vw;
    line-height: 1.5;
}
.section-margin {
    margin-bottom:6vw;
}
main nav {
    height:80px;
    width: 100%;
    background-color: #006769;
}
.checkbtn {
    float: right;
    font-size: 20px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

main nav img {
    display:inline-block;
    width:20%;
    height:80px;
    margin:0 20px;
}
main nav ul {
    float:right;
    list-style: none;
    margin-right:40px;
}

main nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 20px;
}
main nav ul li a {
    text-decoration:none;
    color: #fff;
    font-size: 20px ;
    padding: 10px;
    transition: 0.3s;
}
main nav ul li a:hover {
    color:#000;
}
main nav  ul li a.active {
    background-color:#219C90 ;
    box-shadow:0 4px #0a393a ;
    border: none;
    border-radius:7px;
    text-align: center;
}

#main-section {
    background-image: url("../images/solar-panels-meadow\ 1.png");
    height: 90vh;
}
.main-section-container {
    width: 70%;
    padding-top:20vh;
    padding-left:15vw;
    position: relative;
}
.progress {
    position: absolute;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    top:7vh;
    left:15vw;
    color: #fff;
    font-size: 18px;
}
.progress .progress-container {
    width:80%;
    margin: auto;
    height: 3px;
    background-color: rgb(0, 0, 0,0.3);
}
.progress .progress-value {
    width:40%;
    height: inherit;
    background-color: #fff;
}
.main-content {
    position: absolute;
    top:80%;
    left: 100px;
    opacity: 0;
    animation: animate 0.7s ease-in-out 0.2s 1 forwards;
}
@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.main-header {
    color:#fff;
    font-size:4vw;
}
.main-prag {
    margin:25px 0;
    color:#fff;
    font-size:1.8vw;
    line-height:35px;
}
.main-btns{
    margin-top:4vh;
}
.call-btn {
    color:#fff;
    background-color: #41B06E;
    width:15vw;
    height:6.5vh;
    border-radius:20px;
    border:none;
    font-size:1.5vw;
    transition: 0.3s;
}
.call-btn:hover {
    color: #0e7779;
    background-color: #fff;
}
.requst-btn {
    background-color: #FFB200;
    width:15vw;
    height:6.5vh;
    border-radius:20px;
    border:none;
    font-size:1.5vw;
    margin-left:15px;
    transition: 0.3s;
}
.requst-btn:hover {
    background-color:#000;
    color: #FFB200;
}
#about-section{
    display:flex;
    justify-content: space-between;
}
#about-description {
    flex:2;
}
.hint {
    font-size:1.4vw;
    color:rgb(151, 148, 148);
    margin-bottom:10px;
}
#about-description .list p {
    color:black;
    font-weight: bold;
    font-size:1.5vw;
    line-height: 1.5;
}
.green {
    font-weight: normal;
    font-size:1.6vw;
    color:#399918;
}
#about-img{
    position:relative;
    margin-left:10vw;
    width:30vw;
}
#about-img img {
    display: block;
    width:100%
}
#about-img .about-img-box{
    position: absolute;
    background-color: #FFB200;
    border-radius: 20px;
    width:20vw;
    height:35vh;
    padding:1vw;
    bottom:3vh;
    left: -40px;
    font-size:1.4vw;
}
.remember-call {
    width: 100%;
    background-image: url("../images/8116 1.png");
    height:80vh;
}
.remember-container {
    width:60%;
    padding-left:10vw;
    padding-top:10% ;
}
#solar-kits .centered-parg {
    text-align: center;
    font-size: 20px;
    color: rgb(151, 148, 148);
    padding: 0 10vw;
    line-height: 1.5;
}
#solar-kits .kits {
    display: flex;
    justify-content:space-around;
    margin-top:12vh;
    gap:5vw;
}
.kit-item {
    height: 80vh;
}
.kit-item .kit-item-img {
    height: 40%;
    width: 100%;
}
.kit-item .kit-item-title {
    font-size:2vw;
    margin-bottom:5vh;
}
.view-item {
    color:#41B06E;
    font-size:1.5vw;
    cursor: pointer;
    transition: 0.3s;
}
.view-item:hover {
    color:#4535C1;
    margin-right:3px;
}
.arrow {
    color:#41B06E;
    margin-left:8px;
    font-size:1.5vw;
}
#repair {
    background-image: url("../images/8116 1 (1).png");
    width: 100%;
    height:80vh;
    position: relative;
}
#repair .hero-image {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60%;
    padding:1.5vw;
    color:#fff;
    background-color: rgb(0, 0, 0,0.7);
    text-align:center;
    height:50vh;
    border-radius: 20px;

}
#repair .hero-image p {
    font-size:1.5vw;
    line-height:1.5
}
#energy-innovators .energy-innovators-container {
    display:flex;
    width:90%;
    margin: auto;
}
.energy-innovators-desc {
    flex:1;
    margin-right:5vw;
}
.energy-innovators-grid {
    flex:2;
    display:grid;
    gap:15px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:420px 420px
}
.energy-innovators-item {
    border: 1px solid #1fac57;
    padding:2vw;
    border-radius: 10px;
    height: auto;
}
.energy-innovators-item .energy-innovators-img {
    width:100%;
    height:30%;
    margin-bottom:2%;
    text-align: center;
}
.energy-innovators-img img {
    width:80%;
    height:100%;
}
.energy-innovators-item h3 {
    margin:20px 0;
}
#features {
    display:flex;
    gap: 3vw;
    margin-top: 7vh;
}
#features .features-item {
    padding: 20px;
    height: auto;
    border: 1px solid rgb(194, 245, 245,0.2);;
    border-radius: 10px;
    background-color: rgb(194, 245, 245,0.2);
}
#features .features-item .features-item-img {
    width: 30%;
    height:15%;
}
#features .features-item .features-item-img img{
    width: 100%;
    height: 100%;
}

.features-item h3 {
    margin:5vh 0;

}
#review {
    display:flex;
    margin-left:15vw;
}
#review .review1 {
    flex: 1;
    align-self: center;
}
#review .review2 {
    margin-right: 7vw;
}
#review .review2 {
    flex:2;
    background-color: rgb(194, 245, 245,0.2);
    border-radius: 20px;
    padding:40px;
} 
#review .review1 .review1-img{
    font-size: 6vw;
}
.review2 #what-say {
    display: flex;
    justify-content: space-between;
    margin-bottom:8vh;
}
.review2 #what-say p {
    color:#1fac57;
    font-size:1.2rem;
    font-weight: bold;
}
.review2 #what-say #dotted a {
    display:inline-block;
    margin-left: 3px;
    color:rgb(202, 199, 199);
    font-size:0.7rem;
}
.review2 #what-say #dotted .active-dot {
    color:gray;
}
.review2 p {
    font-size:1.8vw;
    margin:0.3rem 0;
}
#review-footer {
    display: flex;
    justify-content:space-between;
    margin-top: 12vh;
}
#review-writer {
    display:flex;
    justify-content: flex-start;
    gap:8px;
    
}
#review-writer p {
    font-size:1.3vw
}
#left-right {
    width: 50%;
    text-align:right;
}
#left-right img{
    margin-left: 20px;
    transition: 0.3s;
    cursor: pointer;
}
footer {
    height:60vh;
    padding:7vh 5vw;
    background-color: #006769;
    
}
.line {
    width: 90%;
    margin: auto;
    outline: none;
    background-color: rgb(180, 174, 174);
    border: 1px solid rgb(180, 174, 174);
}
#contact {
    display: flex;
    justify-content: space-between;
    height: 60%;
}
#contact .footer-logo {
    width: 40%;
    height: 30%;
}
#contact .footer-logo img {
    width: 100%;
    height: 100%;
    display: inline-block;
}
#contact .our-links nav {
    display:flex;
    justify-content: space-evenly;
    margin-top: 4vh;
}
#contact .our-links nav a {
    color: #fff;
    font-size:1.4vw;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}
#contact .our-links nav a:hover {
    color: #000;
}
form {
    width:50%;
    margin-left:8vw;
    margin-top: 5vh;
}
form label {
    color: #fff;
    font-size:1.4vw;
}
form input {
    width:100% ;
    padding:15px;
    border:2px solid rgb(180, 174, 174);
    border-radius: 25px;
    outline:none;
    background-color: #1d9092;
    margin-top:20px ;
    color:white;
    font-size:1.2vw;
    display:inline-block;
}
#subscribe {
    display: flex;
}
.subscribe-btn {
    width:12vw;
    padding: 15px;
    background-color: #FFB200;
    border:2px solid #FFB200;
    border-radius: 25px;
    transform: translateX(-8vh);
    font-size: 1.3vw;
    color:#fff;
    margin-top:20px ;
    cursor:pointer
}
#copy-right {
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
}
#copy-right nav a ,#copy-right p {
    color:rgb(180, 174, 174);
    font-size:1.1vw;
    text-decoration: none;
}
#copy-right nav a:hover {
    color: #fff;
}
#copy-right nav span {
    color:rgb(180, 174, 174);
}
@media screen and (max-width:991px) {
    .centered-header {
        font-size:7vw;
    }
    .checkbtn {
        display: block;
    }
    main nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 80px;
        background-color: #1d9092;
        text-align: center;
        transition: all 0.3s;
        z-index: 100;
    }
    #check:checked ~ ul {
        left: 0;
    }
    main nav ul li {
        display: block;
        font-size:30px;
    }
    main nav ul li a:hover {
        color:#000;
    }
    main nav ul li a.active {
        box-shadow: none;
        background: none;
        color: #000;
    }
    .tiny-header {
        font-size:5vw;
    }
    #main-section {
        height: 80vh;
    }
    .main-section-container {
        padding-top:15vh;
        padding-left:15vw;
    }
    .main-prag {
        margin:20px 0;
        font-size:2.4vw;
        line-height:2;
    }
    .call-btn , .requst-btn {
        width:20vw;
        font-size:2vw;
        font-weight: 600;
    }
    .hint {
        font-size:2.2vw;
        margin-bottom:10px;
    }
    #about-description .list p {
        font-size:2vw;
        line-height: 1.8;
    }
    .green {
        font-size:2vw;
        font-weight: bold;
    }
    #about-img{
        margin-left:7vw;
    }
    #about-img .about-img-box{
        border-radius:15px;
        width:25vw;
        height:200px;
        top:30%;
        left: -30px;
        font-size:2vw;
        line-height:1.5 ;
   }
    .remember-call {
        height:70vh;
    }
    #solar-kits .centered-parg {
        font-size:16px;
    }
    #solar-kits .kits {
        flex-direction: column;
        margin-top:6vh;
        gap:2vh;
    }
    .kit-item {
        height: 60vh;
        text-align: center;
        margin: 20px 0;
    }
    .kit-item .kit-item-img {
        height: 50%;
        width: 70%;
        text-align: center;
        border-radius: 20px;
    }
    .kit-item .kit-item-title {
        font-size:4vw;
        margin:20px 0;
    }
    .kit-item p.hint {
        margin:25px 0;
        font-size: 3vw;
    }
    .view-item {
        font-size:3vw;
    }
    .arrow {
        font-size:3vw;
    }
    #repair {
        height:70vh;
    }
    #repair .hero-image {
       width: 80%;
    }
    #repair .hero-image h2 {
        font-size: 4vw;
    }
    #repair .hero-image p {
        font-size:2vw;
        line-height:1.5
    }
    #energy-innovators .energy-innovators-container {
       flex-direction: column;
    }
    .energy-innovators-desc {
        text-align: center;
    }
    .energy-innovators-desc p.hint {
        font-size:2.7vw;
    }
    .energy-innovators-grid {
        margin: 25px 0;
        grid-template-rows:350px 350px !important;
    }
    .energy-innovators-grid .energy-innovators-item.last-item {
        height: 350px !important;
    }
    .energy-innovators-grid p.hint {
        font-size:1.8vw;
    }
    #features {
        flex-direction: column;
    }
    #features .features-item {
        padding:30px 50px;
        height: auto;
        border: 1px solid rgb(194, 245, 245,0.2);;
        border-radius: 10px;
        background-color: rgb(194, 245, 245,0.2);
    }
    #features .features-item p.hint {
        font-size: 2.8vw;
    }
    #features .features-item h3 {
        font-size:4vw;
    }
    #review {
        flex-direction: column;
        margin-left:20px;
        gap: 30px;
    }
    #review .review1 {
      margin-right: auto;
      background-color: rgb(194, 245, 245,0.2);
       padding: 30px;
       border-radius:20px

       
    }
    #review .review2 {
       margin-left: auto;
       width: 70%; 
    } 
    .review2 p {
        font-size:2.2vw;
    }
    #review-writer p {
        font-size:1.8vw
    }
    #contact .our-links nav {
       flex-direction: column;
       margin:3vh 0;
    }
    #contact .our-links nav a {
       
        font-size:1.5vw;
        text-decoration: none;
        line-height:2;
    }
    .line {
        margin-top: 10px;
    }
    footer {
        height:80vh;
        padding-right:5px;
    }
    form {
        width:70%;
    }
    form label {
        font-size:2.4vw;
    }
    form input {
        font-size:3vw;
        border-radius: 50px;
    }
    .subscribe-btn {
        width:30vw;
        font-size: 2.5vw;
        border-radius: 50px;
        transform: translateX(-10vw);
    }
    #copy-right nav a {
        text-decoration: none;
    }
    #copy-right nav a ,#copy-right p {
        font-size:1.4vw;
    }
    #copy-right nav span {
        color:rgb(180, 174, 174);
    }

}






